@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

body{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     height: 220vh;
     background-color: #1f242d;
     background-image: url(backgound-index.png);
     background-size: cover;
     overflow-x: hidden;
     background-attachment: fixed;
}

html{
     scroll-behavior: smooth;
}


/*Navigation*/
header{
     position: absolute;
     left: 65%;
     bottom: 93.3%;
}


.nav-list{
     display: flex;
     font-size: 13px;
     gap: 7rem;
     cursor: pointer;
     list-style-type: none;
}


.nav-list a{
     text-align: center;
     color: rgb(255, 255, 255);
     text-decoration: none;
     text-shadow: -1px 1px 15px rgb(255, 255, 255);
}


.nav-list a:hover{
     line-height: 1px;
     transition: 0.3s;
     letter-spacing: 1px;
     text-shadow: 0 0 5px rgb(0, 255, 255),
               0 0 10px rgb(0, 255, 255),
               0 0 20px rgb(0, 255, 255),
               0 0 30px rgb(0, 255, 255),
               0 0 40px rgb(0, 255, 255),
               0 0 50px rgb(0, 255, 255);
}

/*Img and bg*/
.logo2 img{
     position: absolute;
     left: 75%;
     top: 11.8%;
}

.logo1 img{
     position: absolute;
     left: 20%;
     top: 11.8%;
}

.transpabg{
     position: absolute;
     height: 199vh;
     width: 65vw;
     background: transparent;
     border: 2px solid rgba(255, 255, 255, .2);
     box-shadow: 0 0 5px rgb(0, 255, 255),
               0 0 10px rgb(255, 255, 255);
     backdrop-filter: blur(11px);
     color: #fff;
     border-radius: 12px;
     left: 17.5%;
     top: 10%;
     z-index: -1;
}


/*About*/
.header h1 {
     position: absolute;
     font-size: 52px;
     left: 29%;
     color: #fff;
     bottom: 77%;
     font-style: italic;
}

.about_us{
     position: absolute;
     font-size: 30px;
     font-weight: 750;
     left: 22%;
     color: #fff;
     top: 25%;
}

.about{
     position: absolute;
     font-size: 20px;
     left: 24.5%;
     color: #fff;
     top: 30%;
}

.our_mission{
     position: absolute;
     font-size: 28px;
     font-weight: 800;
     left: 22%;
     color: #fff;
     top: 43%;
}

.mission{
     position: absolute;
     font-size: 20px;
     left: 24.5%;
     color: #fff;
     top: 48%;
}

.offer{
     position: absolute;
     font-size: 32px;
     font-weight: 800;
     left: 22%;
     color: #fff;
     top: 63%;
}

.custom{
     position: absolute;
     font-size: 23px;
     font-weight: 750;
     left: 24%;
     color: #fff;
     top: 68%;
}

.offer-item1{
     position: absolute;
     font-size: 20px;
     left: 25.5%;
     color: #fff;
     top: 72%;
}

.user{
     position: absolute;
     font-size: 23px;
     font-weight: 750;
     left: 24%;
     color: #fff;
     top: 80%;
}

.offer-item2{
     position: absolute;
     font-size: 20px;
     left: 25.5%;
     color: #fff;
     top: 84%;
}

.scale{
     position: absolute;
     font-size: 23px;
     font-weight: 750;
     left: 24%;
     color: #fff;
     top: 92%;
}

.offer-item3{
     position: absolute;
     font-size: 20px;
     left: 25.5%;
     color: #fff;
     top: 96%;
}

.expert{
     position: absolute;
     font-size: 23px;
     font-weight: 750;
     left: 24%;
     color: #fff;
     top: 107%;
}

.offer-item4{
     position: absolute;
     font-size: 20px;
     left: 25.5%;
     color: #fff;
     top: 111%;
}

.team{
     position: absolute;
     font-size: 20px;
     font-weight: 700;
     left: 26%;
     color: #fff;
     top: 118%;
}

.group{
     position: absolute;
     font-size: 18px;
     left: 28.5%;
     color: #fff;
     top: 121%;
}

.footer{
     position: absolute;
     font-size: 16.5px;
     left: 33.6%;
     color: #fff;
     top: 203%;
}

.copyright h6{
     top: 207.2%;
     font-size: 10px;
     position: absolute;
     bottom: 0;
     left: 46.5%;
     color: #474747;
     font-style: italic;
     cursor: default;
}




/*pic1*/
.owner1 h3{
     margin-left: -17%;
     margin-bottom: 105%;
     color: #fff;
     font-style: italic;
}

.owner1 h3:hover{
     color: rgb(0, 255, 255);
     text-shadow: 0 0 15px rgb(0, 255, 255),
               0 0 20px rgb(0, 255, 255);
     cursor: default;
     transition: 0.3s;
}


.owner1 h5{
     color: #fff;
     font-size: 17px;
     letter-spacing: 1px;
     font-weight: 400;
     margin-left: -20%;
     margin-top: 40%;
     line-height: 30px;
     white-space: nowrap;
     z-index: 1;
     font-style: italic;
}

.owner1 a{
     color: #fff;
     text-decoration: none;
}


.owner1 a:hover{
     color: rgb(0, 255, 255);
     text-decoration: underline;
}

.blurry{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 55%;
     
}

.blurry img{
     margin-left: 600%;
     max-width: 500%; 
     max-height: 100%; 
     border-radius: 10px;
     box-shadow: 0 0 5px rgb(255, 255, 255);
}

/*pic2*/
.owner2 h3{
     margin-left: 50%;
     margin-bottom: 105%;
     color: #fff;
     z-index: 1;
     font-style: italic;
}


.owner2 h3:hover{
     color: rgb(0, 255, 255);
     text-shadow: 0 0 15px rgb(0, 255, 255),
               0 0 20px rgb(0, 255, 255);
     cursor: default;
     transition: 0.3s;
     
}


.owner2 h5{
     color: #fff;
     font-size: 17px;
     letter-spacing: 1px;
     font-weight: 400;
     margin-left: -11%;
     margin-top: 40%;
     line-height: 30px;
     white-space: nowrap;
     z-index: 1;
     font-style: italic;
}


.owner2 a{
     color: #fff;
     text-decoration: none;
}


.owner2 a:hover{
     color: rgb(0, 255, 255);
     text-decoration: underline;
}

.blurry2{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 55%;
     
}

.blurry2 img{
     margin-left: 1540%;
     max-width: 500%; 
     max-height: 100%; 
     border-radius: 10px;
     box-shadow: 0 0 5px rgb(255, 255, 255);
}

/*pic3*/
.owner3 h3{
     margin-left: 95%;
     margin-bottom: 96%;
     color: #fff;
     z-index: 1;
     font-style: italic;
     white-space: nowrap;
}


.owner3 h3:hover{
     color: rgb(0, 255, 255);
     text-shadow: 0 0 15px rgb(0, 255, 255),
               0 0 20px rgb(0, 255, 255);
     cursor: default;
     transition: 0.3s;
}


.owner3 h5{
     color: #fff;
     font-size: 17px;
     letter-spacing: 1px;
     font-weight: 400;
     margin-left: -30%;
     margin-top: 40%;
     line-height: 30px;
     white-space: nowrap;
     z-index: 1;
     font-style: italic;
}


.owner3 a{
     color: #fff;
     text-decoration: none;
}


.owner3 a:hover{
     color: rgb(0, 255, 255);
     text-decoration: underline;
}

.blurry3{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 55%;
     
}

.blurry3 img{
     margin-left: 2450%;
     max-width: 500%; 
     max-height: 100%; 
     border-radius: 10px;
     box-shadow: 0 0 5px rgb(255, 255, 255);
}

/*pic4*/
.owner4 h3{
     margin-left: 140%;
     margin-bottom: 96%;
     color: #fff;
     z-index: 1;
     font-style: italic;
     white-space: nowrap;
}


.owner4 h3:hover{
     color: rgb(0, 255, 255);
     text-shadow: 0 0 15px rgb(0, 255, 255),
               0 0 20px rgb(0, 255, 255);
     cursor: default;
     transition: 0.3s;
}


.owner4 h5{
     color: #fff;
     font-size: 17px;
     letter-spacing: 1px;
     font-weight: 400;
     margin-left: -25%;
     margin-top: 40%;
     line-height: 30px;
     white-space: nowrap;
     z-index: 1;
     font-style: italic;
}


.owner4 a{
     color: #fff;
     text-decoration: none;
}


.owner4 a:hover{
     color: rgb(0, 255, 255);
     text-decoration: underline;
}

.blurry4{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 55%;
     
}

.blurry4 img{
     margin-left: 3100%;
     max-width: 500%; 
     max-height: 100%; 
     border-radius: 10px;
     box-shadow: 0 0 5px rgb(255, 255, 255);
}

/*pic5*/
.owner5 h3{
     margin-left: 198%;
     margin-bottom: 105%;
     color: #fff;
     z-index: 1;
     font-style: italic;
     white-space: nowrap;
}


.owner5 h3:hover{
     color: rgb(0, 255, 255);
     text-shadow: 0 0 15px rgb(0, 255, 255),
               0 0 20px rgb(0, 255, 255);
     cursor: default;
     transition: 0.3s;
}


.owner5 h5{
     color: #fff;
     font-size: 17px;
     letter-spacing: 1px;
     font-weight: 400;
     margin-left: -23%;
     margin-top: 40%;
     line-height: 30px;
     white-space: nowrap;
     z-index: 1;
     font-style: italic;
}


.owner5 a{
     color: #fff;
     text-decoration: none;
}


.owner5 a:hover{
     color: rgb(0, 255, 255);
     text-decoration: underline;
}

.blurry5{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 55%;
     
}

.blurry5 img{
     margin-left: 3715%;
     max-width: 500%; 
     max-height: 100%; 
     border-radius: 10px;
     box-shadow: 0 0 5px rgb(255, 255, 255);
}




/*Carousel Slider*/
.container {
     top: 136%;
     position: absolute;
     width: 30%;
     height: 61%;
     margin: 10px auto;
     backdrop-filter: blur(15px);
     overflow: hidden;
}

.carousel{
     border-radius: 15px;
     border: 2px solid rgba(255, 255, 255, 0.7);
     height: 600px;
     position: relative;
}

.slider{
     height: 100%;
     display: flex;
     width: 500%;
     transition: all 0.5s;
}

.slider section{
     flex-basis: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.controls .arrow{
     position: absolute;
     top: 159%;
     cursor: pointer;
}

.arrow.left{
     font-size: 600%;
     left: 26%;
}

.arrow.right{
     font-size: 600%;
     right: 26%;
}

.controls i:hover{
     text-shadow: 0 0 15px rgba(255, 255, 255, 0.4),
               0 0 30px rgba(255, 255, 255, 0.4);
     transform: scale(1.2,1.2);
     transition: 0.4s ease-in-out;
}

.controls ul{
     top: 192.8%;
     position: absolute;
     transform: translate(-50%);
     list-style: none;
     display: flex;
}

.controls ul li{
     width: 12px;
     height: 12px;
     border: 2px solid rgb(255, 255, 255);
     border-radius: 50px;
     margin: 10px;
     background: rgb(255, 255, 255);
     cursor: pointer;
}

.controls ul li.selected {
     background: transparent;
}

::-webkit-scrollbar{
     width: 10px;
}

::-webkit-scrollbar-track{
     background: rgb(41, 41, 41);
}

::-webkit-scrollbar-thumb{
     background: linear-gradient(#05c3dd, #00b4b4);
     border-radius: 10px;
}