@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     border: none;
     outline: none;
     scroll-behavior: smooth;
     font-family: 'Poppins', sans-serif;
}

:root {
     --bg-color: rgb(31, 36, 45);
     --second-bg-color: rgb(50, 57, 70, 0.6);
     --text-color: #fff;
     --main-color: #0ef;
}

html {
     font-size: 62.5%;
     overflow-x: hidden;
}

body {
     background-color: var(--bg-color);
     color: var(--text-color);
     background-image: url(backgound-index.png);
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     background-repeat: no-repeat;
     
}

section {
     min-height: 95vh;
     padding: 10rem 10% 2rem;
}

.header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 2rem 9%;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     z-index: 100;
}

.header a{
     margin-right: 77%;
     text-wrap: nowrap;
}

.header.sticky {
     /* background: var(--second-bg-color);
     box-shadow: 0 0 1rem var(--main-color); */
     border-bottom: .2rem solid rgba(0, 255, 255, 0.2);
     backdrop-filter: blur(5rem);
}


.logo {
     padding-right: 20px;
     padding-left: 20px;
     box-shadow: 0 0 5px #0ef;
     border-radius: 20px;
     backdrop-filter: blur(5rem);
     font-size: 1.7rem;
     color: var(--text-color);
     font-weight: 600;
     cursor: default;
     filter: drop-shadow(0 0 1rem var(--main-color));
}

nav{
     text-wrap: nowrap;
}

.navbar a {
     font-size: 1.7rem;
     color: var(--text-color);
     margin-left: -2rem;
     transition: all 0.3s ease;
}

.navbar a:hover, 
.navbar a.active {
     color: var(--main-color);
     filter: drop-shadow(0 0 1rem var(--main-color));

}

#menu-icon{
     font-size: 3.6rem;
     color: var(--text-color);
     display: none;
}

.home {
     display: flex;
     justify-content: center;
     align-items: center;
}

.home-img img {
     width: 20vw;
     filter: drop-shadow(0 0 1rem var(--main-color));
     animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
     0% {
     transform: translateY(0);
     }
     50% {
     transform: translateY(-2.4rem);
     }
     100% {
     transform: translateY(0);
     }
}

.home-content h3 {
     font-size: 3.2rem;
     font-weight: 700;
}
.home-content h3:nth-of-type(2) {
     margin-bottom: 2rem;
}
span {
     color: var(--main-color);
}

.home-content h1 {
     font-size: 5.6rem;
     font-weight: 700;
     line-height: 1.3;
}
.home-content p {
     font-size: 1.6rem;
}

.social-media a {
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 4rem;
     height: 4rem;
     background: transparent;
     border: .2px solid var(--main-color);
     border-radius: 50%;
     font-size: 2rem;
     color: var(--main-color);
     margin: 3rem 1.5rem 3rem 0;
     transition: .5s ease;
}

.social-media a:hover {
     background: var(--main-color);
     color: var(--second-bg-color);
     box-shadow: 0 0 1rem var(--main-color);
}

.btn {
     display: inline-block;
     padding: 1rem 2.8rem;
     background: var(--main-color);
     border-radius: 4rem;
     box-shadow: 0 0 1rem var(--main-color);
     color: var(--second-bg-color);
     font-size: 1.6rem;
     letter-spacing: .1rem;
     font-weight: 600;
     transition: 0.3s ease;
}

.btn:hover {
     background: transparent;
     color: var(--main-color);
     box-shadow: 0 0 1rem var(--main-color);
}


.heading {
     text-align: center;
     font-size: 4.5rem;
}


.services h2 {
     margin-bottom: 5rem;
}
.services-container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     gap: 2rem;
}
.services-container .services-box {
     flex: 1 1 30rem;
     background: var(--second-bg-color);
     padding: 3rem 2rem 4rem;
     border-radius: 2rem;
     text-align: center;
     border: .2rem solid var(--bg-color);
     transition: all 0.5s ease;
}

.services-container .services-box:hover {
     border: .2rem solid var(--main-color);
     box-shadow: 0 0 1rem var(--main-color);
     transform: scale(1.02);
}

.services-box i {
     margin-bottom: 1.5%;
     font-size: 7rem;
     color: var(--main-color);
}
.services-box h3 {
     margin-bottom: 5%;
     font-size: 2.6rem;
     white-space: nowrap;
}
.services-box p {
     font-size: 1.8rem;
     margin: 1rem 0 3rem;
}

.services-box .expanded-content {
     display: none;
     opacity: 0;
     max-height: 0;
     overflow: hidden;
     transition: max-height 0.5s ease-in-out;
}

.services-box.expanded .expanded-content {
     display: block;
     opacity: 1;
     max-height: 1000px;
     animation: expandAnimation 0.5s ease-in-out;
}

@keyframes expandAnimation {
     0% {
          max-height: 0;
          opacity: 0;
     }
     100% {
         max-height: 1000px; /* Adjust as needed based on your content */
          opacity: 1;
     }
}


.footer {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     padding: 2rem 9%;
     transition: all 0.5s ease;
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
}
.footer-text p {
     font-size: 1.6rem;
}
.footer-iconTop a {
     display: inline-flex;
     justify-content: center;
     align-items: center;
     padding: .8rem;
     border-radius: 50% ;
     background: var(--main-color);
     transition: all 0.5s ease;
     
}
.footer-iconTop a i {
     font-size: 2.4rem;
     color: var(--second-bg-color);
}
.footer-iconTop a:hover {
     background: transparent;
     color: var(--main-color);
     box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a:hover i {
     color: var(--main-color);
}

::-webkit-scrollbar{
     width: 10px;
}

::-webkit-scrollbar-track{
     background: rgb(41, 41, 41);
}

::-webkit-scrollbar-thumb{
     background: linear-gradient(#05c3dd, #00b4b4);
     border-radius: 10px;
}

   /* BREAKPOINTS */

@media (max-width: 1200px) {
     html {
     font-size: 55%;
     }
}

@media (max-width: 991px) {
.header {
     padding: 2rem 3%;
     }

section {
     padding: 10rem 3% 2rem;
     }

     .services {
     padding-bottom: 7rem;
     }

.footer {
     padding: 2rem 3%;
     }
}

@media (max-width: 768px) {
#menu-icon {
     display: block;
}
.navbar {
     position: absolute;
     top: 100%;
     left: 0;
     width: 100%;
     padding: 1rem 3%;
     background: var(--bg-color);
     border-top: .1rem solid rgba(0, 0, 0, .2);
     box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
     display: none;
     }
.navbar.active {
     display: block; 
     }

.navbar a {
     display: block;
     font-size: 2rem;
     margin: 3rem 0;
     }
.home {
     flex-direction: column;
     }
.home-content h3{
     font-size: 2.6rem;
     }
.home-content h1 {
     font-size: 5rem;
     }
.home-content img {
     width: 70vw;
     margin-top: 4rem;
}
     
.services h2 {
     margin-bottom: 3rem;
     }
}     

@media (max-width: 375px) {
.footer {
     flex-direction: column-reverse;
     }
.footer p {
     text-align: center;
     margin-top: 2rem;
     }
}

@media (max-width: 320px) {
.home-img img {
     width: 50vw;
}

.footer {
     flex-direction: column-reverse;
}
.footer p {
     text-align: center;
     margin-top: 2rem;
     }
}