@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
     margin:0;
     padding:0;
     box-sizing:border-box;
     font-family:'Poppins',sans-serif;
}
body{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     width: 100%;
     overflow: hidden;
     animation-play-state: running;
}

img{
     position: fixed;
     z-index: -1;
}

/*loading in*/
.loader {
     display: flex;
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background: linear-gradient(rgb(0, 0, 0), rgb(0, 255, 255), rgb(0,0,0));
     transition: opacity 2.5s, visibility 2.5s;
     font-size: 280px;
     font-weight: 400;
     font-style: italic;
     font-family: fantasy;
     z-index: 9999;
}

.loader--hidden {
     opacity: 0;
     visibility: hidden;
}

/*Navigation*/
nav{
     display: flex;
     text-wrap: nowrap;
}

.navbar a {
     text-decoration: none;
     font-size: 15px;
     color: rgb(50, 57, 70, 0.6);
     border-radius: 20px;
     padding: 8px 25px;
     margin-left: 853%;
     background: #0ef;
     box-shadow: 0 0 8px #0ef;
     margin-bottom: 425%;
     transition: 0.3s ease;
     font-weight: 600;
     letter-spacing: 0.3px;
}

.navbar a:hover {
     transform: translate(-15px);
     color: #0ef;
     background: transparent;
     box-shadow: 0 0 8px #0ef;
     filter: drop-shadow(0 0 1rem #0ef);
}


.container{
     backdrop-filter: blur(10px);
     border: 2px solid rgba(255, 255, 255, .2);
     background: transparent;
     width:450px;
     padding:1.5rem;
     margin:50px auto;
     margin-left: 28%;
     border-radius:10px;
     margin-bottom: 9%;
     box-shadow:0 20px 35px rgba(0,0,1,0.9);
     z-index: 1;
}

form{
     margin:0 2rem;
}
.form-title{
     color: white;
     font-size: 36px;
     font-weight:bold;
     text-align:center;
     padding:1.3rem;
     margin-bottom:0.4rem;
     cursor: default;
     transition: 0.5s;
}

.form-title:hover{
     -webkit-text-stroke: 0.9px rgb(0, 255, 255);
     text-shadow: 0 0 15px rgb(0, 255, 255),
               0 0 40px rgb(0, 255, 255),
               0 0 80px rgb(0, 255, 255);
     color: transparent;
}

input{
     color:white;
     width:100%;
     background-color:transparent;
     border:none;
     border-bottom:1px solid #757575;
     padding-left:1.5rem;
     font-size:15px;
}

.input-group{
     padding:3% 0;
     position:relative;
}

.input-group i{
     position:absolute;
     color:rgb(170, 180, 180);
} 

.input-group .show_hide{
     position: absolute;
     right: -3px;
     top: 32.6%;
     transform: translateY(-50%);
     color: #A6A6A6;
     padding: 5px;
     cursor: pointer;
}

.error-message {
    color: red;
    text-align:end;
    margin-left: 148px;
    
    
    font-size: 14px;
   
}


.container .indicator{
     display: none;
}
.container .indicator.active{
     display: block;
     margin-top: -25px;
     margin-bottom: 16px;
}

.indicator .icon-text{
     display: flex;
     align-items: center;
}
.icon-text .error_icon{
     margin-right: 8px;
}
.icon-text .text{
     font-size: 14px;
     font-weight: 500;
     letter-spacing: 1px;
}

input:focus,
input:valid
.input-group {
     color: rgb(0, 255, 255);
}


input:focus{
     background-color: transparent;
     outline:transparent;
     border-bottom:2px solid hsl(182, 98%, 39%);
}
input::placeholder{
     color:transparent;
}
label{
     color:#757575;
     position:relative;
     left:1.2em;
     top:-1.8em;
     cursor:auto;
     transition:0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
     top:-3em;
     color:hsl(182, 98%, 39%);
     font-size:15px;
}
.recover{
     text-align:right;
     font-size:1rem;
     margin-top: -1.6rem;
     margin-bottom:1rem;

}
.recover a{
     text-decoration:none;
     color:rgb(255, 255, 255);
}
.recover a:hover{
     color:rgb(0, 225, 255);
     text-decoration:underline;
}


.check label{  
     color: white;
     top: 20%;
     left: -49%;
     text-wrap: nowrap;
}
.check input{
     size: 10px;
     margin-right: -157px;
}
.btn{
     font-size:1.1rem;
     padding:8px 0;
     border-radius:5px;
     outline:none;
     border:none;
     width:100%;
     background:rgb(255, 255, 255);
     color:rgb(0, 0, 0);
     cursor:pointer;
     transition:0.9s;
}
.btn:hover{
     background:rgb(0, 255, 255);
     box-shadow: 0 0 5px rgb(0, 255, 255), 
               0 0 20px rgb(0, 255, 255), 
               0 0 60px rgb(0, 255, 255),
               0 0 115px rgb(0, 255, 255);
}
.or{
     color: white;
     font-size:1.1rem;
     margin-top:0.5rem;
     text-align:center;
}
.icons{
     text-align:center;
}
.icons i{
     color:rgb(255, 255, 255);
     padding:0.8rem 1.5rem;
     border-radius:10px;
     font-size:1.5rem;
     cursor:pointer;
     border:2px solid rgba(255, 255, 255, .2);
     margin:0 15px;
     transition:0.8s;
}
.icons i:hover{
     transform: scale(1.09,1.09);
     box-shadow: 0 0 5px rgb(0, 255, 255), 
               0 0 10px rgb(0, 255, 255);
     font-size:1.6rem;
     color: rgb(0, 225, 255);
     border:2px solid rgb(125, 255, 255);
}
.links{
     color: white;
     display:flex;
     justify-content:space-around;
     padding:0 4rem;
     margin-top:0.9rem;
     gap: 15px;
     font-weight:15px;
}

button{
     color:rgb(255, 255, 255);
     border:none;
     background-color:transparent;
     font-size:1rem;
     font-weight:bold;
}
button:hover{
     text-decoration:underline;
     color:rgb(0, 255, 255);
}

.swal2-confirm  {
     text-decoration: none !important;
}

@media (min-aspect-ratio: 16/9){
     img{
          width: 100%;
          height: auto;
     }
}


@media (max-aspect-ratio: 16/9){
     img{
          width: auto;
          height: 100%;
     }
}

@keyframes transitionIn {
     from{
          opacity: 0;
          transform: scale3d(30px);
          background-color: rgb(0, 0, 0);
     } 
}